@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('https://fonts.gstatic.com/s/montserrat/v30/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2');
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* -------nav--------- */
.nav-list{
    list-style-type: none;
    display: flex;

}
.logo-img{
    width: 151px;
    height: 41px;
    margin-right: 150px;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: #635C73;
    margin-right: 25px;
}
.buy-now{
    text-decoration: none;
    margin-left: 40px;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 30px;
    font-weight: bold;
    align-items: center;
}
.btn{
    background-color: #8c81ad;
    border-radius: 50px;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* ------main-bannner-------- */
#main-banner{
    color: #fff;
    background-image: url("images/banner-main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    height: 100vh;
    background-color: #000;
    margin-top: 105px;
}
.mtitle{
    font-size: 82px;
}
.text{
    text-align: center;
    padding: 90px 0px;
}
.mcontent{
    color: #8c81ad;
    font-size: 24px;
    margin-top: 5px;
}
.version{
    color: #494654;
    margin-top: 5px;
}

/* -------about----------- */
#about{
    text-align: center;
    background-color: #fff;
    height: 200px;
    margin-bottom: 100px;
}
.container{
    display: flex;
    justify-content: center;
}
.download {
    position: relative;
    top: -15px;
    font-size: 21px;
}
.about-title{
    font-size: 14px;
    color: #848e97;
    margin-bottom: 10px;
}
.ahead{
    font-size: 54px;
    color: #635C73;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.acontent{
    font-size: 21px;
    color: #716e79;
    margin-bottom: 26px;
}
.about-container{
    padding: 30px;
}


/* *******info******** */

#info{
    background-color: #f4f4f4;
}
.ihead{
    text-align: center;
    font-size: 40px;
    color: #8d81ac;
    padding-top: 50px;

}
.info-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
    padding: 50px 12% 100px 12%;
}
.icard{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}
.text-holder > h3{
    margin-bottom: 10px;
}
.text-holder > p{
    color: #848E97;
    font-size: 13px;
}

/* ---------testimonials------------ */

#testimonials{
    color: #fff;
    background-image: url("images/banner-testimonials.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 100px;
}
.thead{
    font-size: 48px;
    margin-bottom: 70px;
    text-align: center;
    color: #e2deed;
}

.tcontainer-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 90px 50px;
    align-items: center;
}
.tcard{
    text-align: center;
    width: 100%;
}
.tcard > p{
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
}

.section-breaker{
    background-color: #664A6699;
    height: 1px;
    width: 736px;
}


/* -------pricing------- */

#pricing{
    color: #fff;
    background-image: url("images/banner-pricing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 100px;
}
.phead{
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px;
    background-color: #ffffff0d;
    
}
.pcontainer{
    display: flex;
    text-align: center;
    gap: 0px 5px;
    justify-content: center;
    margin-bottom: 50px;
}   
.pcard{
    background-color: #ffffff15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;

}
.pline{
    width: 60px;
    height: 5px;
    background-color: #8D81AC;
    margin: 30px 0px;
}

.pcontent{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price{
    font-size: 64px;
    color: #ffffff2e;
    margin: 20px 0 10px 0;
}
.price > span{
    color: #fff;
    font-weight: bold;
}
.per{
    color: #ffffff40;
}
.purchase{
    background-color: #ffffff26;
    color: #fff;
    border-radius: 50px;
    margin: 50px 0 30px 0;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.purchase:hover{
    background-color: #ffffff66;
}
.some-text{
    font-size: 14px;
    color: #746074;
    text-align: center;
    padding: 0 120px 5px;
}

/* ---------subscribe------------ */
#subscribe{
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    align-items: center;
}
.email-input{
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    border: none;
    margin-right: 40px;
    width: 300px;
    font-weight: bold;
}
.sub-tagline{
    color: #635C73;
    font-size: 30px;
}
/* -------footer--------- */

.fcontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding: 62px 100px 92px;
    line-height: 22px;

}
.f-link{
    text-decoration: none;
    font-weight: bold;
    color: #8d81ac;
}
.f-list{
    list-style-type: none;
}
.fcard{
    padding: 0 15px;
}
.fcontent{
    color: #848E97;
    font-size: 14px;

}